body {
  background-color:lightblue;
  color: navy;
  font-size: 1.0rem;
  line-height: 2.5rem;
  text-align: center;
  margin:0 auto;
}

a {
  text-decoration: none;
  color:lightslategray;
  font-size: 1rem;
}

table{
  text-align: center;
  margin:0 auto;
}